body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

ul{
    list-style-type: none;
}

.HrOpciones{	
	border: #ffcf30 solid 1px;
}

/* Estilos Menu */

.navbar{
	background-color: #000000;
;}

.logo img{
	height: 50px;
	width: auto;
}

/* Estilos Footer */

#footer{
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 15px;
}

#footer > .RedesSociales > img{
	height: 50px;
	width: auto;
	margin: 15px;
}

#footer > .LogoFooter > img{
	height: 50px;
	width: auto;
	margin: 15px;
}

#footer > .DerechosFooter{
	margin: 15px;
}

/* Carrusel */

.carousel .carousel-item {
  height: 500px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.carousel .carousel-item {
	  height: 300px;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.carousel .carousel-item {
	  height: 300px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.carousel .carousel-item {
	  height: 400px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.carousel .carousel-item {
	  height: 400px;
	}
}


.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 300px;
    max-height: 500px;
}

/* Beneficios */

.beneficios{
	background-color: #000000;
	color: #ffffff;
}

.beneficios .card{
	background: none;
	border-bottom: #ffcf30 solid 1px;
	border-radius: 10px;
	
}

.beneficios .card:hover{
	transform: scale(1.02);
}


/* Estilos Imagen Busqueda*/

.ImagenMenu{
    background-image: url("../img/Imagenindex.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #cccccc;*/
    width: 100%;
    height: 600px;
}

.ImagenMenu .TituloCentrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ImagenMenu .TituloImagenMenu {
	display: flex;
}

.ImagenMenu .TituloImagenMenuBlanco {
	color: #ffffff;
}

.ImagenMenu .TituloImagenMenuAzul {
	color: #1707AF;
}

/* Estilos Opciones */

.Opciones{
	background-color: #000000;
	color: #ffffff;
}

.Opciones .Opcion{
	height: 300px;
}

.Opciones .Opcion1{
	background-image: url("../img/cafe.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Opciones .Opcion2{
	text-align: left;
	padding: 50px;
}

.Opciones .Opcion3{
	text-align: right;
	padding: 50px;
}

.Opciones .Opcion4{
	background-image: url("../img/restaurant.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Opciones .h3Opciones{
	font-size: 30px;
}

.Opciones .pOpciones{
	font-size: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.Opciones .h3Opciones{
		font-size: 15px;
	}

	.Opciones .pOpciones{
		font-size: 9px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.Opciones .h3Opciones{
		font-size: 20px;
	}

	.Opciones .pOpciones{
		font-size: 10px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.Opciones .h3Opciones{
		font-size: 30px;
	}

	.Opciones .pOpciones{
		font-size: 15px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.Opciones .h3Opciones{
		font-size: 30px;
	}

	.Opciones .pOpciones{
		font-size: 15px;
	}
}

/* Planes */

.BtnPlanes .btn-success{
	background-color: #ffcf30 !important;
	border: none !important;
	border-radius: 20px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
	color: black !important;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1) !important;
	transition: transform .2s; /* Animation */
}

.BtnPlanes .btn-success:hover{
	transform: scale(1.05);
}

.h4Planes{
	color: #ffcf30;
}

/* Estilos Contacto.html */

.contacto{
	background-color: #000000;
	text-align:center;
	color: #ffffff;

	form{
		border: #ffcf30 solid 1px;
	}
}


/* Estilos Quienes.html */

.caracteristicas{
	background-color: #000000;
	margin: 0;
	color: #ffffff;

	.card{
		margin-top: 20px;
		margin-bottom: 20px;
		background: none !important;
		border: #ffcf30 solid 1px;
		border-radius: 10px;
		.fa{
			font-size: 50px;
		}
	}

	.AcercaNosotros{
		color: #ffffff;
		padding-top: 20px;

		.acerca{
			height: 200px !important;
			width: auto;
			background-position: center center;
		    background-repeat: no-repeat;
		    background-size: cover;

		}
		.acerca1{
			background-image: url(../img/acerca1.png);
		}
		.acerca2{
			background-image: url(../img/acerca2.png);
		}
		.acerca3{
			background-image: url(../img/acerca3.png);
		}
	}
}


/* Estilos Servicios.html */

.servicios{
	background-color: #ffffff;
	margin: 0;
	color: #000000;

	.card{
		margin-top: 20px;
		margin-bottom: 20px;
		background: none !important;
		border: #ffcf30 solid 1px;
		border-radius: 10px;
		img{
			height: 60px;
			width: auto;
		}
	}
}

.serviciosGaleria{
	background-color: #000000;
	margin: 0;
	color: #ffffff;

	.Galeria{
		height: 200px !important;
		width: auto;
		background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    transition: transform .7s; /* Animation */
	}

	.Galeria:hover{
		transform: scale(1.03);
	}

	.Galeria1{
    	background-image: url(../img/galeria/galeria1.png);
    }

    .Galeria2{
    	background-image: url(../img/galeria/galeria2.png);
    }

    .Galeria3{
    	background-image: url(../img/galeria/galeria3.png);
    }

    .Galeria4{
    	background-image: url(../img/galeria/galeria4.png);
    }

    .Galeria5{
    	background-image: url(../img/galeria/galeria5.png);
    }

    .Galeria6{
    	background-image: url(../img/galeria/galeria6.png);
    }

    .Galeria7{
    	background-image: url(../img/galeria/galeria7.png);
    }

    .Galeria8{
    	background-image: url(../img/galeria/galeria8.png);
    }

    .Galeria9{
    	background-image: url(../img/galeria/galeria9.png);
    }
}



/* Estilos Restaurantes */

.restaurantes {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 20% 80%;
    background-color: #000000;
    color: #ffffff;

    .box {
  		padding: 20px;
	}

	.TituloListas{
		font-weight: 700;
	}

	li{
		padding-top: 10px;
		padding-left: 10px;
	}

	.card{
		background: none;
		color: #ffffff;
		width: 100%;
		height: auto;
		// border: #ffcf30 solid 1px;
		padding: 10px;

		li{
			padding-top: 0;
			padding-left: 0;
			padding-right: 10px;
		}

		p{
			margin-bottom: 0 !important;
		}

		img{
			transition: transform .2s; /* Animation */
		}

		img:hover{
			transform: scale(1.05);
		}
	}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.restaurantes {
	    grid-template-columns: 35% 65%;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.restaurantes {
	    grid-template-columns: 30% 70%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.restaurantes {
	    grid-template-columns: 25% 75%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.restaurantes {
	    grid-template-columns: 20% 80%;
	}
}
